body {
  background-color: cyan;
  text-align: center;
  font-size: 30px;
}


#first{
  margin-top: 20px;
  font-size: 30px;
}
#last{
  margin-top: 20px;
  font-size: 30px;
}
button{
  font-size: 30px;
}
input{
  font-size: 30px;
}